body{
font-family:'Arial',sans-serif;
}
h2{
border:2px solid black;

}
#body_header{
height:25vh;
display:flex;
justify-content:center;
align-items:center;
}

/* buttons */

.main_button_group {
height:30px;
width:100px;
border-radius:2px;
border:none;
background-color:#24a0ed;
color: #F5F5F5;
}

#create_user_button{
margin-right:20px;
}

/* common button template */

.button{
border: none;
border-radius:2px;
height:20px;
color: #F5F5F5;
}

.button_normal{
background-color:#24a0ed;
}

.button_danger{
background-color:#D11A2A;
}

/* manipulation button div */
.manipulation_button{
display:flex ;
justify-content:center;
align-items:center;

}

.manipulation_button_group{
height:25px;
margin-right:20px;
}