<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>create user</title>
    <link th:href="@{/css/userCreate.css}" href="/css/userCreate" rel="stylesheet"/>
</head>
<body>
<div id="user_manipulation_button" class="manipulation_button">
    <button value="createUser" id="create_user_button" class="manipulation_button_group button button_normal ">create new user</button>
    <input type="text" class="search_assignment_by_userid" placeholder=" search assignment of user"/>

</div>
<div id="user_form_card_container">
    <div class="user_card_container">
        <div class="user_card" th:each="user:${users}">
            <h1 th:text="${user.userName}"></h1>
            <hr>
            <p>user id:<span th:text="${user.userId}"></span></p>

            <input type="text" style="display:none">
            <div id="user_delete_container">

                <button class="user_delete_button button button_danger " th:attr="custom-value=${user.userId}">delete user</button>
            </div>
        </div>
    </div>
    <div id="signup_form_container">
        <form class="signup_form" method="post">

            <div>
                <label for="form_firstname"> First Name</label>
                <input type="text" name="firstname" id="form_firstname" class="signup_form_group">
            </div>
            <div>
                <label for="form_lastname"> Last Name</label>
                <input type="text" name="lastname" id="form_lastname" class="signup_form_group">
            </div>
            <div>
                <label for="form_password"> Password</label>
                <input type="password" name="password" id="form_password" class="signup_form_group">
            </div>
            <div>
                <label for="form_confirm_password">Confirm Password</label>
                <input type="password" name="confirmpassword" id="form_confirm_password" class="signup_form_group">
            </div>
            <div class="signup_form_submit_button_container">
                <button type="button" class="signup_form_close_button button button_danger">close</button>
                <button type="submit" class="signup_form_submit_button button button_normal">submit</button>
            </div>
        </form>


    </div>
</div>
<!--<script th:src="@{/userjs/userCreate.js}"  src="/userjs/userCreate.js"></script>-->

</body>
</html>